<li class="span6 mix branding css illustration">
  <a href="#<%= home_spicon_gem_path %>" data-destination="portfolio-items" data-insert="before">
    <img src="assets/images/spicon.png" alt="Treble">
    <div class="portfolio-overlay">
      <h4>Spicon</h4>
    </div>
  </a>
</li>
