<li class="span6 mix database branding">
  <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
    <!-- Portfolio image -->
    <img src="assets/images/contineo.png" alt="Treble">
    <!-- Portfolio name, activated on hover -->
    <div class="portfolio-overlay">
      <h4>Contineo</h4>
    </div>
  </a>
</li>
