<li class="span6 mix date">
  <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
    <img src="assets/images/tareek.png" alt="Treble">
    <div class="portfolio-overlay">
      <h4>Tareek</h4>
    </div>
  </a>
</li>
