<div class="span4">
  <div class="close-portfolio">
    <span>&#10006;</span>
    <div class="clearfix"></div>
  </div>
  <h5>Tareek Gem</h5>
  <article class="smallFontBy08">
    <p>
      It gives you dates like, middle of the month, middle of next month etc.
    </p>
  </article>
  <section class="website">
    <h5>Visit Github Repo</h5>
    <a href="https://github.com/gemathon-warriors/spicon" class="smallFontBy08">https://github.com/gemathon-warriors/tareek</a>
  </section>
</div>
