<!-- PAGE | CONTACT -->
<div class="pages black-bg white page-contact" id="page-contact">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Contact</h4>
      <h1>Say hello!</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            We like to create things with fun, open-minded people. Feel free to say hello! We'll respond as soon as possible.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- Start Article -->
    <article>
      <div class="row-fluid">
        <!-- Contact form -->
        <div class="span6">
          <h5>Drop Us A Line</h5>
          <form>
            <input type="text" class="span12" placeholder="Title" required="required">
            <input type="email" class="span12" placeholder="Email" required="required">
            <textarea rows="10" class="span12" required="required"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <!-- End Contact form -->
        <!-- Contact information -->
        <div class="span5 offset1">
          <h5>Meet Us</h5>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-phone"><i>Phone</i></a>
            </div>
            <div class="media-body smallFontBy08">
              (+1) 502 964-0393 | (+1) 502 964-0393 (FAX)
            </div>
          </div>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-place"><i>Location</i></a>
            </div>
            <div class="media-body smallFontBy08">
              1095 Columbus Ave., San Francisco, CA 94133
            </div>
          </div>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-mail"><i>email</i></a>
            </div>
            <div class="media-body smallFontBy08">
              mail@crollify.com
            </div>
          </div>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-clock"><i>Time zone</i></a>
            </div>
            <div class="media-body smallFontBy08">
              UTC / GMT -5
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <h5>Get social</h5>
          <div class="social-icons sicon-white bordered">
            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
          </div>
        </div>
        <!-- End Contact information -->
      </div>
    </article>
    <!-- End Article -->
  </div>
  <!-- Background map image -->
  <div id="map-image">
    <img src="assets/images/pages/contact/map_bck.jpg" alt="Treble">
  </div>
</div>
<!-- END PAGE | CONTACT -->
