<!-- PAGE | FEATURES  -->
<div class="pages white paralax page-features" id="page-features">
  <div class="overlay"></div>
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Features</h4>
      <h1>What's Inside</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- Article -->
    <article>
      <!-- Features blocks -->
      <div class="row-fluid">
        <div class="span4 center">
          <img src="assets/images/pages/features/about01.png" alt="Treble">
          <h5>Responsive</h5>
          <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="span4 center">
          <img src="assets/images/pages/features/about02.png" alt="Treble">
          <h5>Bootstrap based</h5>
          <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="span4 center">
          <img src="assets/images/pages/features/about03.png" alt="Treble">
          <h5>Easy to customize</h5>
          <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <!-- Testemonials -->
      <div class="row-fluid">
        <div class="span8 offset2">
          <div class="quote center">
            <div id="quote-slider" class="slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  <h5>Happy client</h5>
                </div>
                <div class="item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  <h5>Happy client</h5>
                </div>
                <div class="item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  <h5>Happy client</h5>
                </div>
              </div>
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                <li data-target="#quote-slider" data-slide-to="1"></li>
                <li data-target="#quote-slider" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | FEATURES -->
