<!-- NAVIGATION -->
<nav class="fixed-top" id="navigation">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 center">
        <!-- LOGO -->
        <a class="brand pull-left" href="./">
          <img src="assets/logo.svg" alt="Treble" height='30' width='40'>
        </a>
        <!-- END LOGO -->
        <!-- MOBILE MENU BUTTON -->
        <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <!-- END MOBILE MENU BUTTON -->
        <!-- MAIN MENU -->
        <ul id="main-menu" class="nav-collapse collapse">
          <li><a href="#page-welcome">Home</a></li>
          <li><a href="#page-work">Work</a></li>
          <li><a href="#page-features">Features</a></li>
          <li><a href="#page-about">About</a></li>
          <li><a href="#page-blog">Blog</a></li>
          <li><a href="#page-contact">Contact</a></li>
        </ul>
        <!-- END MAIN MENU -->
        <!-- SOCIAL ICONS -->
        <div class="social-icons hover-big pull-right">
          <a href="#" class="sicon-facebook"><i>Facebook</i></a>
          <a href="#" class="sicon-twitter"><i>Twitter</i></a>
          <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
          <a href="#" class="sicon-youtube"><i>Youtube</i></a>
          <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
</nav>
<!-- END NAVIGATION -->
