<!-- PAGE | TWITTER -->
<div class="pages white paralax page-twitter" id="page-twitter">
  <!-- Page overlay -->
  <div class="overlay"></div>
  <!-- Block content -->
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2">
        <div class="twitter-devider"></div>
        <!-- Load Twitter boostrap container -->
        <div class="twitterfeed center slide" id="twitterfeed-slider"></div>
        <!-- Sub title / Name of twitter account -->
        <h5 class='center'>
          <a href="<%= twitter('ashish') %>">_zapper320<i></i></a>
        </h5>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | TWITTER -->
