<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
  <div class="overlay"></div>
  <!-- Centralized content -->
  <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-work">
                <img src="assets/logo.svg" width="140" height="140" alt="Treble">
                <!-- <span class='logo'> Ashish Upadhyay </span> -->
              </a>
            </div>
            <div class="scrollDown">
              <a href="#page-work">
                <img src="assets/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
              </a>
            </div>
          </div>
          <div class="line-divider" id="welcome-messages">
            <ul class="slides">
              <li>
                <h1>Hello Warriors</h1>
              </li>
              <li>
                <h1>Learn & Spread</h1>
              </li>
              <li>
                <h1>Creative & Fun</h1>
              </li>
            </ul>
          </div>
          <p>All Gems at one place !.</p>
          <div class="social-icons sicon-white bordered">
            <a href="https://github.com/gemathon-warriors" class="sicon-place"><i>Github</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | Welcome -->
