<div style='font-size:12px'>
  <span>
    <b> Downloads </b> : <%= @info['downloads'] %> 
  </span>

  <br />

  <span>
    <b> Version </b> : <%= @info['version'] %> 
  </span>

  <br />

  <span>
    <b> Authors </b> : <%= @info['authors'] %> 
  </span>

  <br />

  <span>
    <b> Info </b> : <%= @info['info'].titlecase %> 
  </span>

  <br />

</div>
