<section class="portfolio-item-details">
  <div class="row-fluid">
    <div class="span8">
      <!-- <img src="http://placehold.it/900x600"> -->
      <%= image_tag "togetherness.jpg", class: 'spicon-6s-2-normal', width: '900', height: '600' %>
    </div>
    <div class="span4">
      <div class="close-portfolio">
        <span>&#10006;</span>
        <div class="clearfix"></div>
      </div>
      <h5>Spicon Gem</h5>
      <article class="smallFontBy08">
        <p>
          Cool feature that makes any element on your Rails application spin on mouseover.
        </p>
      </article>
      <section class="website">
        <h5>Visit Github Repo</h5>
        <a href="https://github.com/gemathon-warriors/spicon" class="smallFontBy08">https://github.com/gemathon-warriors/spicon</a>
      </section>
      <!--   <div class="social-icons sicon-black bordered bordered-black">
                <a href="#" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-white sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-white sicon-pinterest"><i>Pinterest</i></a>
            </div> -->
      <!-- <div class="submenu">
                <ul>
                    <li>
                        <span>%a.fa.fa-twitter.fa-2x.spicon{href: "https://twitter.com/"}</span>
                    </li>
                    <li>
                        <span>.spicon-{duration of the spin}-{number of spins}-{direction of the spin}</span>
                    </li>
                    <li>
                        <span>.spicon-4s-2-alternate_reverse  </span>
                    </li>
                </ul>
            </div> -->
    </div>
  </div>
</section>
