<section class="portfolio-item-details">
  <div class="row-fluid">
    <div class="span8">
      <% 14.times do |i| %>
        <%= image_tag "togetherness.jpg", class: "#{@classes[i%4]}", width: '100', height: '100' %>
      <% end %>
    </div>
    <div class="span4">
      <div class="close-portfolio">
        <span>&#10006;</span>
        <div class="clearfix"></div>
      </div>
      <h5>Spicon Gem</h5>
      <article class="smallFontBy08">
        <p>
          Cool feature that makes any element on your Rails application spin on mouseover.
        </p>
      </article>
      <section class="website">
        <h5>Visit Github Repo</h5>
        <a href="https://github.com/gemathon-warriors/spicon" class="smallFontBy08">https://github.com/gemathon-warriors/spicon</a>
      </section>
    </div>
  </div>
</section>
