<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<section class="portfolio-item-details">
  <div class="row-fluid">
    <div class="span8">
      <%= render 'home/tareek_partial/date' %>
      <br /><br />
      <%= render 'home/tareek_partial/day' %>
    <br /><br />
    <%= render 'home/tareek_partial/humanized_date' %>
    </div>
    <%= render 'home/tareek_partial/right_panel' %>
  </div>
</section>
